      .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
      }

      /* Dropdown button on hover & focus */
      .dropbtn:hover,
      .dropbtn:focus {
          background-color: #2980B9;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
          position: relative;
          display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
          transform: rotateX(90deg);
          transform-origin: top;
          transition: transform 0.3s ease;
          position: absolute;
          background-color: transparent;
          min-width: 160px;
          box-shadow: 12px 10px 12px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          visibility: hidden;
          opacity: 0;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
          background-color: #ddd;
      }

      /* Show the dropdown menu with rotation animation on hover */
      .dropdown:hover .dropdown-content {
          transform: rotateX(0deg);
          visibility: visible;
          opacity: 1;
      }