/* Styling for the body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #6366f1;
  /* Background color of the body */
}

/* Styling for the 'No' button */
#noButton {
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
}

/* Styling for the 'Yes' button */
#yesButton {
  position: absolute;
  margin-right: 150px;
}

/* Styling for the header text */
.header_text {
  font-family: "Nunito";
  font-size: 40px;
  font-weight: bold;
  color: white;
  /* Text color */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

/* Styling for the button container */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

/* Styling for the generic button */
.btn {
  background-color: #fecbd0;
  /* Button background color */
  color: white;
  /* Button text color */
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  /* Smooth transition on button hover */
}

/* Styling for the 'No' button on click */
.btn:onclick {
  background-color: #ffb6c1;
  /* Background color change on click */
  color: white;
  opacity: 0;
}

/* Styling for the GIF container */
.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries for responsive design based on screen dimensions */
@media only screen and (max-width: 320px) and (max-height: 568px) {
  body {
    height: 100vh;
  }

  .header_text {
    font-size: 20px;
  }

  img {
    height: 60vh;
  }

  .btn {
    padding: 10px 18px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
  body {
    height: 90vh;
  }

  .header_text {
    font-size: 28px;
  }

  img {
    height: 60vh;
  }

  .btn {
    padding: 15px 25px;
    font-size: 14px;
  }
}
