html {
  background-color: ##6efaf3;
  height: 100%;
  width: 100%;
}
body {
  background-color: #6efffd;
}
h1 {
  text-align: center;
  font-size: 60px;
}
.button {
  font-size: 30px;
  font-family: serif;
  color: #000;
  border: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 15px;
  font-weight: bold;
}
#creditsH1 {
  display: hidden;
  background-color: #bfbebb;
  border: solid;
  border-radius: 20px;
  text-align: center;
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 10px 0px 10px;
}
#creditsMenu p {
  margin-bottom: 10px;
}
